body{
margin: 0;
padding: 0;
background-color: var(--primary);
color: var(--dark);
}
:root{
    --primary: #f8fafc;
    --dark: #1e293b;
}
h1{
    text-align: center;
}
.container{
    width: 50%;
    margin: auto;
    font-size: 18px;
  font-weight: bold;
}
input, label,textarea{
    display: block;
}
input{
    margin-bottom: 0.8rem;
    width:70%;
}

#check{
    /* display: block; */
    /* margin: auto; */
    margin-bottom: .5rem;
    padding: .5rem;
    border: .1rem solid var(--dark);
    background: transparent;
    color: var(--dark);
    font-size: 14px;
    border-radius: .3rem;
    
}
#check:hover{
    cursor: pointer;
    background: var(--dark);
    color: var(--primary);
    transition:.4s;
}
textarea{
    background: transparent;
    border-radius: .5rem;
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 14px;
}